<div class="container">
  <img src="connect-four-wide.png"/>

  <%= button_to 'Start Game', action: 'play' %>

  <div id="game-board">
    <%= render 'board', game: @game %>
  </div>

  <div class="footer">
    <h4>Created by Meredith Lind</h1>
  </div>
</div>
